PORT=4000
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=replace-with-a-secure-secret
GITHUB_CLIENT_ID=Ov23lin2BYbybF6deZqp
GITHUB_CLIENT_SECRET=0041003a6c1ea08b731827781e13de7055a4c88b
GITHUB_CALLBACK_URL=http://localhost:4000/auth/github/callback
